@import url('https://fonts.googleapis.com/css?family=Space%20Mono:700|Space%20Mono:400');
@import "tailwindcss";

@theme {
  --color-text: #ffd7f1;
  --color-background: #121212;
  --color-primary: #fe77d0;
  --color-secondary: #974613;
  --color-accent: #fd9628;

  --font-mono: "Space Mono", monospace;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

::selection {
  background-color: #fe77d0; 
  color: #000000;
}

body {
  font-family: 'Space Mono';
  font-weight: 400;
  color: var(--color-text);
}

.card-retro {
  border: 2px solid black;    
  box-shadow: 5px 5px 0px 0px #000000; 
}


.page {
  min-height: 100vh; 
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: flex-start;
  margin-top: 5rem; 
  box-sizing: border-box; 
}

.content{
  text-align: left;
  max-width: 800px;
  width: 800px
}

.content h1{
  font-size: 2rem;
}

.conteudo-post ul {
  list-style-type: disc; 
  padding-left: 2rem;    
  margin-bottom: 1.5rem; 
}

.conteudo-post ol {
  list-style-type: decimal; 
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

.conteudo-post li {
  margin-bottom: 0.5rem; 
  line-height: 1.6;      
}

.conteudo-post ul ul {
  list-style-type: circle;
  margin-bottom: 0; 
}

.conteudo-post ul ul ul {
  list-style-type: square;
}