@import url('https://fonts.googleapis.com/css?family=Space%20Mono:700|Space%20Mono:400');
@import "tailwindcss";

@theme {
  --color-text: #ffd7f1;
  --color-background: #121212;
  --color-primary: #fe77d0;
  --color-secondary: #a22902;
  --color-accent: #fd9628;

  --font-mono: "Space Mono", monospace;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

::selection {
  background-color: #fe77d0; 
  color: #000000;
}

body {
  font-family: 'Space Mono';
  font-weight: 400;
  color: var(--color-text);
}

.card-retro {
  border: 2px solid black;    
  box-shadow: 5px 5px 0px 0px #000000; 
  padding: 0.5rem;
}


.page {
  min-height: 100vh; 
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: flex-start;
  margin-top: 5rem; 
  box-sizing: border-box; 
}
